@model MakeItRain.Models.StockTransaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StockTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
