@model IEnumerable<MakeItRain.Models.StockTransaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
